<!-- ORBIT OPENNED -->
<div class="site-open">
    <div class="site-title" style="margin-bottom: 120px;">
        <div>
            ORBIT
            <p href="air-drop.netlify.app" style="font-size: 40px; letter-spacing: 2px; color: #757575;">ORBIT.APP</p>
        </div>
        <div style="position: absolute; top: 60px; right: 60px;" class="arrow-down">
            <img src="/assets/icons/arrow2.svg" alt="">
        </div>
    </div>

    <div class="text-wrapper">
        <div class="text-container" style="text-align: center; max-width: 525px;">
            <p class="heading">THE APP</p>
            <p style="text-align: center;">
                Orbit is a powerfull and multi-platform tool, with this app
                you can instantly share any document on the same network 
                with every device.
            </p>
        </div>

        <img style="margin-top: 100px; margin-bottom: 260px;" src="/assets/orbit/app.svg" alt="">

        <div class="text-container" style="width: 550px; margin-left: auto;">
            <p class="heading">DETAILS</p>
            <p style="text-align: left;">
                The main feature of Orbit, is the possibility to evolve from a local network
                to an open world where your friends or other devices can connect
                on a “room” and share from anywhere.
            </p>
        </div>

        <img style="margin-top: 40px; margin-bottom: 180px; margin-right: auto;" src="/assets/orbit/rooms.svg" alt="">

        <div class="text-container" style="width: 550px; text-align: center;">
            <p class="heading">COMMUNITY</p>
            <p style="text-align: center;">
                Manage your friends, your devices, set customs themes with the built-in tools and create the perfect environnement.
            </p>
        </div>

        <img style="margin-top: 40px; margin-bottom: 130px;" src="/assets/orbit/devices.svg" alt="">
    </div>
</div>